.content-section {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image:  linear-gradient(black, #303030) , url("../../assets/images/bg-3.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

