<ngx-spinner></ngx-spinner>
<div class="movie-section">
    <header class="component-page-header">
        <h1 class="content-title mat-display-2">TV Shows</h1>
    </header>
    <app-search-section></app-search-section>
    <h3 class="content-title mat-display-1" style="text-align: center; margin: 2rem 0;">Discover some shows</h3>
    <div class="movie-card">
        <div *ngFor="let media of tvShowList">
            <app-movie-card [media]="media"></app-movie-card>
        </div>
    </div>
    <h3 class="content-title mat-display-1" style="text-align: center; margin: 2rem 0;">Airing today</h3>
    <div class="movie-card">
        <div *ngFor="let media of latestList">
            <app-movie-card [media]="media"></app-movie-card>
        </div>
    </div>
</div>