/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~simplebar/dist/simplebar.css';

// html, body { height: 100%; }
body { margin: 0; font-weight: 200; font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
app-root {
  display: block;
  height: 100vh;
}

.simplebar-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.simplebar-visible::before {
  background-color: #7b1fa2 !important;
  -webkit-transition: opacity .5 linear;
  transition: opacity .5 linear;
}

.simplebar-scrollbar {
  height: 2rem;
}

.component-page-header {
  background-color:  rgb(82, 22, 119)   ;
}

app-content {
  display: block;
  height: max-content;
  min-height: 100%;
}