<div class="movie-section">
    <header class="component-page-header">
        <h1 class="content-title mat-display-2">Details</h1>
    </header>
    <div class="details-section">
        <div class="poster">
            <img class="movie-image" src={{details?.poster}}>
        </div>
        <div class="movie-info">
            <p class=" mat-display-1"> {{details?.name}}</p>
            <hr />
            <div class="description">
                <div class="data-section">
                    <div class="data-text">
                        <p class=" mat-h1">
                            {{details?.releaseDate}}
                            <!-- {{details.releaseDate.getDate()}}/{{details.releaseDate.getMonth()+1}}/{{details.releaseDate.getFullYear()}} -->
                        </p>
                        <p class="mat-body-1"> {{details?.genre}}</p>
                        <p class="mat-body-1">{{details?.synopsis}}</p>
                    </div>
                    <div class="rating-section">
                        <div class="rating-item">
                            <img src="../../assets/images/Ratings/{{details?.rated}}.svg"
                                style="width: 3rem; margin-bottom: 0.5rem;">
                            <p style="margin-bottom: 0;">{{ratedText}}</p>
                        </div>
                        <div class="rating-item">
                            <img src="../../assets/images/IMDb_logo.svg" style="width: 3rem;">
                            <p style="margin-bottom: 0;">{{details?.rating.imdb}}/10</p>
                        </div>
                        <div class="rating-item">
                            <img src="../../assets/images/Rotten_Tomatoes.svg" style="width: 3rem;">
                            <p style="margin-bottom: 0;">{{details?.rating.rotten}}</p>
                        </div>
                        <div class="rating-item">
                            <img src="../../assets/images/Metacritic_logo.svg" style="width: 3rem;">
                            <p style="margin-bottom: 0;">{{details?.rating.metacritic}}/100</p>
                        </div>
                    </div>

                </div>
                <div class="credits-section">
                    <p class=" mat-h1"> Cast & Crew</p>
                    <hr style="width: 50%;" />
                    <p class=" mat-h4" style="margin-top: 1rem; font-weight: bold"> Starring </p>
                    <div *ngIf="Cast?.length > 0">
                        <div *ngFor="let actor of Cast">
                            <span>{{actor.name}}, </span>
                        </div>
                    </div>
                    <div *ngIf="Crew?.length > 0">
                        <div *ngFor="let staff of Crew">
                            <p class=" mat-h4" style="margin-top: 1rem; font-weight: bold"> <strong>{{staff.role}}
                                </strong>
                            </p>
                            <p>{{staff.name}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>