<div class="movie-section">
    <header class="component-page-header">
        <h1 class="content-title mat-display-2">Details</h1>
    </header>
    <div class="details-section">
        <img class="movie-image" src="../../assets/images/test/poster01.jpg">
        <div class="movie-info">
            <p class=" mat-display-1"> The Invisible Man</p>
            <hr/>
            <p class=" mat-h1"> 2019</p>
            <p class="mat-body-1"> Horror / Thriller</p>
            <p class="mat-body-1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa
                qui officia deserunt mollit anim id est laborum.</p>
            <p class="mat-body-1"> <strong>Rating: </strong> 4/5</p>
        </div>
        <div class="similar-section">
            <p>Similar Movies </p>
            <img style="max-width: 128px;" src="../../assets/images/test/poster02.jpg">
            <img style="max-width: 128px;" src="../../assets/images/test/poster02.jpg">
        </div>
    </div>
</div>